---
layout: top
atomfeed: 1
index: "Blog: Ramblings by Jake"
indexurl: /blog/
---
{% unless page.blogindex %}            <aside>
                <h3>Recent Posts</h3>
                <ul>{% for post in site.posts limit:3 %}
                    <li><a href="{{ post.url }}" title="{{ post.title | escape }}">{{ post.title | escape | truncatewords:6,' &hellip;' }}</a> <small>({{ post.date | date: '%m/%d/%Y' }})</small></li>{% endfor %}
                </ul>
            </aside>
    
            <p class="timestamp">Posted on {{ page.date | date: '%m/%d/%Y' }}</p>
            <h2>{{ page.title | escape }}</h2>
            <article>
{% endunless %}
{{ content }}
{% unless page.blogindex %}
            </article>
            <div class="bottombar" style="clear: both;">
                <span>{% if page.next.url %}«&nbsp;<a href="{{ page.next.url | escape }}" title="{{ page.next.title | escape }}">{{ page.next.title | truncatewords: 10 | escape }}</a>{% else %}&nbsp;{% endif %}</span>{% if page.previous.url %}
                <span><a href="{{ page.previous.url | escape }}" title="{{ page.previous.title | escape }}">{{ page.previous.title | truncatewords: 10 | escape }}</a>&nbsp;»</span>{% endif %}
            </div>{% endunless %}
{% if paginator %}
            <div class="bottombar" style="clear: both; text-align: center;">Page: {% comment %}

First page, previous page:

{% endcomment %}{% if paginator.previous_page %}<a title="First page" href="/blog/">1</a>{% if paginator.previous_page > 1 %}&nbsp;&nbsp;{% if paginator.previous_page > 2 %}&hellip;&nbsp;&nbsp;{% endif %}<a title="Previous page" href="/blog/page{{ paginator.previous_page }}">{{ paginator.previous_page }}</a>{% endif %}&nbsp;&nbsp;{% endif %}{% comment %}

Current page:

{% endcomment %}<strong title="Current page">{{ paginator.page }}</strong>{% comment %}

Next page, last page:

{% endcomment %}{% if paginator.next_page %}&nbsp;&nbsp;<a title="Next page" href="/blog/page{{ paginator.next_page }}">{{ paginator.next_page }}</a>{% if paginator.next_page < paginator.total_pages %}&nbsp;&nbsp;{% capture diff %}{{ paginator.total_pages | minus: paginator.next_page }}{% endcapture %}{% if diff != "1" %}&hellip;&nbsp;&nbsp;{% endif %}<a title="Last page" href="/blog/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>{% endif %}{% endif %}</div>{% endif %}
